/* Add your styles here */

body {
  background: rgb(8, 8, 80);
  justify-content: center;
}

.clock {
  display: none;
  background: white;
  width: 50vmin;
  height: 50vmin; 
  border-radius: 25vmin;
  margin: 25vmin;
  position: relative;
}

.mark{
  background: lightgray;
  position: absolute;
  border-radius: 50%;
}

.quarter-mark{
  width: 5%;
  height: 5%;
}

.quarter-top {
  top: 2%;
  left: 47.5%;
}

.quarter-right {
  top: 47.5%;
  right: 2%;
}

.quarter-bottom {
  bottom: 2%;
  left: 47.5%;
}

.quarter-left {
  top: 47.5%;
  left: 2%;
}

.hour-mark{
  width: 3%;
  height: 3%;
}

.hour1 {
  top: 9.5%;
  right: 26%
}

.hour2 {
  top: 26%;
  right: 9.5%
}

.hour5 {
  bottom: 9.5%;
  right: 26%
}

.hour4 {
  bottom: 26%;
  right: 9.5%
}

.hour11 {
  top: 9.5%;
  left: 26%
}

.hour10 {
  top: 26%;
  left: 9.5%
}

.hour7 {
  bottom: 9.5%;
  left: 26%
}

.hour8 {
  bottom: 26%;
  left: 9.5%
}

.arrow {
  background: gray;
  -webkit-transform-origin: 50% 100%; 
  -ms-transform-origin: 50% 100%; 
  transform-origin: 50% 100%;
  border-radius: 20px;
  position: absolute;
  left: 47.5%;
  width: 5%;
}

.arrow-hour {
  height: 21%;
  top: 29%;
}

.arrow-minute {
  height: 35%;
  top: 15%;
}

.arrow-second {
  background: transparent;
  height: 35%;
  top: 14.9%;
  left: 49.4%;
  width: 1%;
  background-image: radial-gradient(circle, grey, transparent);
	background-repeat: repeat-y;
	background-size: 100% 7%;
}

.center-cap{
  background: gray;
  position: absolute;
  top: 46%;
  left: 46%;
  border-radius: 50%;
  width: 8%;
  height: 8%;
}